---
const { slug } = Astro.props;
---

<li
  class="group relative py-8 md:p-8 hover:bg-slate-100 focus-within:bg-slate-100 rounded transition-all">
  <a
    href={`/project/${slug}`}
    class="opacity-0 absolute top-0 left-0 w-full h-full">
    Learn More</a
  >
  <slot />
</li>
