---
import { routes } from "@utils/routes";
const { slug } = Astro.props;
---

<li
  class="group hover:bg-slate-100 focus-within:bg-slate-100 rounded transition-all">
  <a href={routes.getProject(slug)}>
    <slot />
  </a>
</li>
