---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ProjectListStack from "@project/stacks/ProjectListStack.astro";
---

<Layout title="Project">
  <Container>
    <Sectionhead>
      <Fragment slot="title">My <span class="fancy">Projects</span></Fragment>
      <Fragment slot="desc">
        I've worked on lots of projects, here are some I value the most.
      </Fragment>
    </Sectionhead>
    <main class="mt-16 flex flex-col gap-20">
      <ProjectListStack />
    </main>
  </Container>
</Layout>
