---
import { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <p class="dark:text-light mt-[117px]">Hey, I’m</p>
  <h1>{name}</h1>
  <p class="dark:text-light text-lg">A pilot who crash-landed on a webpage.</p>
  <br />
  <p class="dark:text-light text-lg">
    I always aspired to be a fighter pilot and was an avid fan of the Ace Combat
    game series. Then I saw a dude edit out his grades by editing the HTML of
    the webpage, and I fell in love.
  </p>
  <br />
  <p class="dark:text-light text-lg">
    I love learning new things and keeping myself up-to-date with the boiling
    mess of a world called Frontend Web Development. Right now I'm learning GSAP
    in order to make those cool animations, cuz why not 💗
  </p>
</section>
