---
import { IHeroProps } from "@types";

const { title, tagline } = Astro.props as IHeroProps;
---

<section class="py-8">
  <h1
    class="mt-0 mb-4 font-bold text-3xl md:text-7xl uppercase tracking-tight"
    set:html={tagline}
  />
  <h2 class="ml-1 mb-0 dark:text-pink-400 text-xl md:text-4xl">{title}</h2>
</section>
