---
import Button from "./ui/button.astro";
---

<!-- To make this contact form work, create your free access key from https://web3forms.com/
     Then you will get all form submissions in your email inbox. -->
<form
  novalidate
  id="form"
  class="needs-validation"
  action="https://submit-form.com/hzfVgx02L">
  <input type="hidden" name="_redirect" value="https://oikashan.com/thanks" />
  <div class="mb-5">
    <input
      required
      type="text"
      placeholder="Full Name"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
      name="name"
    />
    <div
      role="alert"
      class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Please provide your full name.
    </div>
  </div>
  <div class="mb-5">
    <label for="email_address" class="sr-only">Email Address</label><input
      required
      type="email"
      name="email"
      id="email_address"
      placeholder="Email Address"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    />
    <div role="alert" class="empty-feedback text-red-400 text-sm mt-1">
      Please provide your email address.
    </div>
    <div role="alert" class="invalid-feedback text-red-400 text-sm mt-1">
      Please provide a valid email address.
    </div>
  </div>
  <div class="mb-3">
    <textarea
      name="message"
      required
      placeholder="Your Message"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div
      role="alert"
      class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Please enter your message.
    </div>
  </div>
  <Button type="submit" size="lg" block>Send Message</Button>
</form>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script is:inline>
const form = document.getElementById("form");

form.addEventListener("submit", function (e) {
  form.classList.add("was-validated");

  if (!form.checkValidity()) {
    form.querySelectorAll(":invalid")[0].focus();
    e.preventDefault();
    return;
  }
});
</script>
