---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Enjoys Modern JS/TS/CSS",
    description:
      "Well-versed in modern JavaScript, TypeScript, and CSS, You'll never have to worry about browser compatibility again.",
    icon: "bx:bxl-javascript",
  },
  {
    title: "Advocates for Growth",
    description:
      "Been a teacher professionaly, I know how to grow a team and how to grow a product in a sustainable way.",
    icon: "bx:bxs-leaf",
  },
  {
    title: "Makes Fast Web Apps",
    description:
      "Experienced in optimizing web apps' performance, I know how to achieve those shiny Lighthouse scores.",
    icon: "bx:bxs-rocket",
  },
  {
    title: "Has a Soldier's Skillset",
    description:
      "CSS Modules, Markdown, MDX, React, Next, Astro, Firebase, Supabase, AWS, JIRA, Docker, you name it, I've used it.",
    icon: "bx:bxs-cube-alt",
  },
  {
    title: "Solves SEO, A11y, I18n, PWA",
    description:
      "Web apps I make are accessible, internationalized, SEO-ready, and PWA-ready through Ionic.",
    icon: "bx:bx-globe",
  },
  {
    title: "Loves Open Source",
    description:
      "I love open source and I'm always shipping new projects. Check out my GitHub profile to see what I've been up to.",
    icon: "bx:bxl-github",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    The last frontend engineer you'll ever need.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Web Applications I build aren't just accessible, but also secure, modern,
    and SEO-ready. I'm detail oriented which results in pixel-perfect designs
    and I'm always looking for ways to improve my workflow.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-pink-600 rounded-full  p-2 w-10 h-10 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
