<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} Kashan Ahmad. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    <a
      rel="noopener"
      target="_blank"
      class="hover:underline"
      href="https://astro.build/themes/details/astroship">
      Base template
    </a> by <a
      rel="noopener"
      target="_blank"
      class="hover:underline"
      href="https://web3templates.com">
      Web3Templates
    </a>
  </p>
</footer>
