---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <span class="hover:text-pink-600 focus:text-pink-600 transition-colors">
      <span class="sr-only"> Astro</span>
      <Icon class="h-8 md:h-12" name="simple-icons:astro" />
    </span>
    <span class="hover:text-pink-600 focus:text-pink-600 transition-colors">
      <span class="sr-only"> Tailwind CSS</span>
      <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    </span>
    <span class="hover:text-pink-600 focus:text-pink-600 transition-colors">
      <span class="sr-only"> Cloudflare</span>
      <Icon class="h-8 md:h-12" name="simple-icons:cloudflare" />
    </span>
  </div>
</div>
