---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Website built with</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a
      target="_blank"
      rel="noreferrer"
      href="https://astro.build"
      class="hover:text-pink-600 focus:text-pink-600 transition-colors">
      <span class="sr-only"> Astro</span>
      <Icon class="h-8 md:h-12" name="simple-icons:astro" />
    </a>
    <a
      target="_blank"
      rel="noreferrer"
      href="https://tailwindcss.com"
      class="hover:text-pink-600 focus:text-pink-600 transition-colors">
      <span class="sr-only"> Tailwind CSS</span>
      <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    </a>
    <a
      target="_blank"
      rel="noreferrer"
      href="https://cloudflare.com"
      class="hover:text-pink-600 focus:text-pink-600 transition-colors">
      <span class="sr-only"> Cloudflare</span>
      <Icon class="h-8 md:h-12" name="simple-icons:cloudflare" />
    </a>
  </div>
</div>
