---
import { Icon } from "astro-icon";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <span class="text-white">
    <Icon name="bx:bxs-bowl-rice" class="w-20 h-20 mb-8" />
  </span>
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    I'm O<span
      class="relative before:absolute before:top-[80%] before:left-0 before:w-full before:h-[4px] before:rounded before:bg-pink-400"
      >pen for Wor</span
    >k
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    I'm always looking for new problems to solve and new people to work with. If
    you have a project that you want to get started, think you need my help with
    something or just fancy saying hey, 👋 get in touch.
  </p>
</div>
<style></style>
