---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/bricolage-grotesque/index.css";
import { strings } from "@utils/strings";

export interface Props {
  title: string;
  image?: string;
  description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, description, image } = Astro.props;

const resolvedImageWithDomain = new URL(
  image || "/opengraph.png",
  Astro.site,
).toString();

const makeTitle = title
  ? title + " | " + strings.name
  : strings.name + " - " + strings.title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={description || strings.bio.join(" ")}
      canonical={canonicalURL}
      twitter={{
        creator: strings.twitterHandle,
        site: strings.twitterHandle,
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: title || strings.ogImgAlt,
        },
      }}
    />

    <!-- Umami analytics script -->
    <script async src="https://eu.umami.is/script.js" data-website-id="3f3abeb8-7621-44c8-98db-eed81d460a0f"></script>
  </head>
  <body class="pt-[var(--navbar-height)]">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      :root {
        --navbar-height: 70px;
      }

      @screen lg {
        :root {
          --navbar-height: 85px;
        }
      }

      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      *:focus-visible {
        @apply outline-2 outline-pink-600;
      }

      .before-ornament {
        @apply relative before:absolute before:top-full before:left-0 before:w-0 before:h-[2px] before:rounded before:bg-pink-400 before:transition-all before:duration-200 hover:before:w-full focus:before:w-full;
      }

      .badge {
        @apply px-2 py-1 rounded w-fit flex gap-1 items-center;
      }

      .badge-sm {
        @apply px-1 py-0 text-sm;
      }

      .fancy {
        position: relative;
        white-space: nowrap;
      }

      .fancy::after {
        --deco-height: 0.3125em;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: var(--deco-height);
        bottom: calc(var(--deco-height) * -0.25);
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%23db2777' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: auto 100%;
        background-repeat: round;
        background-position: 0em;
      }

      /* Typography */
      h1,
      .h1,
      h2,
      .h2,
      h3,
      .h3,
      h4,
      .h4,
      h5,
      .h5,
      h6,
      .h6 {
        margin: 0;
        font-weight: bold;
      }

      h5,
      .h5,
      h6,
      .h6 {
        @apply text-sm;
      }

      h4,
      .h4 {
        @apply text-base md:text-lg;
      }

      h3,
      .h3 {
        @apply text-lg md:text-xl xl:text-2xl;
      }

      h2,
      .h2 {
        @apply text-3xl lg:text-4xl;
      }

      h1,
      .h1 {
        @apply text-4xl lg:text-5xl lg:tracking-tight lg:leading-tight;
      }

      /* Reset */
      section {
        @apply relative py-10 w-full;
      }

      section.section-tight {
        @apply mx-auto max-w-3xl;
      }

      /* Padding */
      .p-content {
        @apply p-base sm:p-md md:p-lg;
      }

      .px-content {
        @apply px-base sm:px-md md:px-lg;
      }

      .pt-content {
        @apply pt-base sm:pt-md md:pt-lg;
      }

      .pr-content {
        @apply pr-base sm:pr-md md:pr-lg;
      }

      /* Gap */
      .gap-layout {
        @apply gap-md sm:gap-lg md:gap-xl;
      }

      .gap-content {
        @apply gap-sm sm:gap-base md:gap-md;
      }

      .gap-element {
        @apply gap-2xs sm:gap-xs md:gap-sm;
      }

      /* Inset */
      .top-content {
        @apply top-base sm:top-md md:top-lg;
      }

      .right-content {
        @apply right-base sm:right-md md:right-lg;
      }

      .bottom-content {
        @apply bottom-base sm:bottom-md md:bottom-lg;
      }

      .left-content {
        @apply left-base sm:left-md md:left-lg;
      }

      /* Colors */
      .text-secondary {
        @apply text-gray-500;
      }

      /* Borders */
      .rounded-content {
        @apply rounded-lg md:rounded-xl;
      }

      .rounded-element {
        @apply rounded-md md:rounded-lg;
      }

      /* Scoped Lists */
      /* .blog-list:hover li,
      .projects-list:hover li,
      .experiences-list:hover li {
        opacity: 0.6;
      }

      .blog-list li:hover,
      .projects-list li:hover,
      .experiences-list li:hover {
        opacity: 1;
      } */
    </style>
  </body>
</html>
